h1{
    font-size: 40px;
    color: orange;
    font-family: 'Courgette', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Mohave', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
span{
    color: red;
}
h2{
    color: rgb(189, 72, 59);
}
p{
font-family: cursive;
color: springgreen;
}
.button{
    height: 8%;
    width: 15px;
    border: black solid 2px;
    border-radius: 5px;
    background-color: coral;
    padding: 4px;
    
    
}