body{
    margin: 0px;
    padding: 0px;
}
h1{
    font-size: 40px;
    color: orange;
    font-family: 'Courgette', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Mohave', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Ubuntu', sans-serif;
}
span{
    color: red;
}
h2{
    color: rgb(189, 72, 59);
}
p{
font-family: cursive;
color: rgb(13, 14, 13);


}
.button{
    height: 8%;
    width: 15px;
    border: black solid 2px;
    border-radius: 5px;
    background-color: coral;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: white; 
    
}
.first{
  width: 40%;
   float: left;
    margin-left: 2%;
    padding: 2%;
}
.first img{
    width: 100%;
}
.first-half{
    background-image: url("2.jpg");
    
}
section{
    height: 550px;
}
.gud{
    color: white;
}
.button-hire{
    height: 8%;
    width: 15px;
    border:black solid 2px;
    border-radius: 5px;
    background-color:pink;
    padding: 5px 10px;
    text-decoration: none;
    font-weight: bold;
    color: white; 
    
}
.last{
    background-image: url("2.jpg");
    
    background-size: cover;
   
    padding-bottom: 20px;
   
    
    

}
.last img{
    width: 100%;
}
#jj{
    height: 350px;
}
.color{
    color:yellow;
}
.david{
    color: crimson;
}
.ozil{
    color: fuchsia;
}
.single{
    box-shadow: 10px 10px 40px rgb(92, 33, 43);
    border-radius: 10px;
    height: 40%;
    
}


#priyo{
    border-left: 7px solid rgb(9, 161, 231);
    background-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}
#steven{
    border-left: 7px solid rgb(8, 245, 59);
    background-image: linear-gradient(180deg,cyan,green);
    border-image-slice: 1;
}
.foot{
text-align: center;
}
.sceond{

padding-top: -10px;
background-image: url("2.jpg");
}
footer p{
    text-align: center;
    font-size: 10px;
}